* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

img {
	max-width: 100%;
}

ul,
ol,
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
    white-space: nowrap;
}

button {
    all: unset;
  }

/* regole zona header */

.header{
    max-width: 2000px;
    background-color: #FFFFFF;
    padding: 23px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    
    
}

.nav_left{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav_right{
    display: flex;
    gap: 40px;
    align-items: center;
}


.logo__dropbox{
    
}

.button_blue{
    background-color: #0060ff;
    color: white;
    line-height: 36px;
    padding: 0 18px;
    
}

/* regole zona hero */

.hero{
    background-color: #B3CFE7;

}

.container_hero{
    margin: 0 auto;
    max-width: 1232px;
        
}

.row_title{
    padding: 100px 0 50px 0;
    font-size: 52px;
}

.row_2{
    display: flex;
   
}

.col_4{
    flex-basis: calc(100% / 3);
    
}

.col_12{
    flex-basis: 100%;
}


.row_8{
    width: calc(100% / 12 * 8);
}

p{
    padding: 30px 0;
}

.jumbo_hero{
    padding: 30px 0;
    margin-bottom: -100px;
    
    
}

.fa-down-long{
    font-size: 43px;
    
}

/* regole piani pagamento */

.container_payments{
    max-width: 1050px;
    margin: 150px auto;
    
}

.col_12 > h2{
    font-size: 35px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    
}

.card{
    border: 1px solid black;
    padding: 20px;
   
    
}

.row:not(.no-gutter) {
	margin: 0 -25px;
}

.plans .row {
	row-gap: 50px;
}

.row:not(.no-gutter) [class^='col'] {
	/* border: 4px solid blue; */
	padding: 0 25px;
}

.card_head{
    display: flex;
    justify-content: center;
}

.card_body{
    padding-top: 25px;
    }

.icon_padding{
    padding-right: 5px;
    
}

.acquista_ora{
    text-decoration: underline;
    color: purple;
}

