* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

img {
	max-width: 100%;
}

ul,
ol,
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
    white-space: nowrap;
}

button {
    all: unset;
  }

/* regole zona header */

.header{
    max-width: 2000px;
    background-color: #FFFFFF;
    padding: 23px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
   
    
}

.nav_left{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav_right{
    display: flex;
    gap: 40px;
    align-items: center;
}


.logo__dropbox{
    
    
}

.button_blue{
    background-color: #0060ff;
    color: white;
    line-height: 36px;
    padding: 0 18px;
    
}

/* regole zona hero */

.hero{
    background-color: #B3CFE7;

}

.container_hero{
    margin: 0 auto;
    max-width: 1232px;
        
}

.row_title{
    padding: 100px 0 50px 0;
    font-size: 52px;
}

.row_2{
    display: flex;
   
}

.col_4{
    flex-basis: calc(100% / 3);
    
}

.col_12{
    flex-basis: 100%;
}


.row_8{
    width: calc(100% / 12 * 8);
}

p{
    padding: 30px 0;
}

.jumbo_hero{
    padding: 30px 0;
    margin-bottom: -100px;
    
    
}

.fa-down-long{
    font-size: 43px;
    
}

/* regole piani pagamento */

.container_payments{
    max-width: 1050px;
    margin: 150px auto;
    
}


.col_12 > h2{
    font-size: 35px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    
}

.card{
    border: 1px solid black;
    /* padding: 20px; */
    height: 100%;   
}






.row:not(.no-gutter) {
	margin: 0 -25px;
}

.plans .row {
	row-gap: 50px;
}

.row:not(.no-gutter) [class^='col'] {
	/* border: 4px solid blue; */
	padding: 0 25px;
}

.card_head{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 8px 32px;

}

.card_body{
    padding: 25px 32px;
    display: flex;
    flex-wrap: wrap;
    }

.icon_padding{
    padding-right: 5px;
    
}

.acquista_ora{
    text-decoration: underline;
    color: purple;
}

.plans_info{
    padding-top: 50px;
}

.plans_info > li{
    padding-bottom: 25px;
    display: flex;
}

.large{
    text-align: center;
    align-content: center;
    flex-grow: 2;
    
}

.buy_now{
    text-decoration: underline;
    color: purple;
}

.azzurrino{
    color: #0060ff;
}


.salient_point{
    padding-top: 50px;
}

.salient_point > li{
    padding-bottom: 25px;
    display: flex;
}

.container_partner{
    max-width: 1050px;
    margin: 50px auto;
    
}

.col_60{
    flex-basis: 60%;
    
}

.col_40{
    margin-top: 50px;
    flex-basis: 40%;
    
}

.button_trasparent{
    padding: 10px;
    border: 1px solid gray;
    color: gray;
    
}

.container_operation{
    max-width: 1050px;
    margin: 100px auto;
}

.operation{
    margin-bottom: 50px;
}

.lineabassa::before{
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background-color: black;
    margin-bottom: 60px;
}

.drop_business{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 34px;
}

.container_quadrati{
    margin: 0 auto;
    max-width: 1232px;
        
}

.faq{
    max-width: 1050px;
    margin: 100px auto;
   }

   .faq_title{
    font-size: 34px;
    border-bottom: 1px solid black;
   }

.faq_list{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.link_footer :first-child {
    font-size: 22px;
    font-weight: bold;
    padding-top: 50px;
  }

.footer{
    background-color: black;
}

.container_footer{
    max-width: 1232px;
    margin: 0 auto;
}

.row_5{
     display: flex;
     justify-content: space-between;
    }

.link_footer{
    color: white;
    
}

.footer_items{
    padding-bottom: 15px;
}

.col_footer{
    flex-basis: calc(100% / 5);
}

